@import url('http://fonts.googleapis.com/css?family=Open+Sans');

.container {
  min-width: 400px;
  background-image: url("backmain.jpg");
  margin: 0 auto;
  background-repeat: round;
  text-align: center;
}


.bot {
  margin: 100px;
}

h1.tc {
  text-align: center;
}

header {
  height: 120px;
}

form {
  text-align: center;
}

iframe {
margin: 0 auto;
}

.inp {
  text-align: center;
  margin: 0 auto;
}

label {
  color: white;
}

.card {
  min-width: 300px;
}

.card-block.text-center.shadow {
  background-image: url("back.jpg");
  width: 100%;
  margin: 0 auto;
  background-position: center;
  background-size: cover;

}

p {color: white}

.container {

  text-align: center;
}

.card-block

.card {
  border: solid 3px lightblue;
}

h3 {
  color: white;
}

h3 {
  margin-top: 30px;
}

h3, h1 {
  text-align: center;
}
tr {
  text-align: center;
}

article {margin:30px;}

a
{
    color: #7F3734;
    text-decoration: none;
    transition: color 0.25s;
}
a:hover
{
    color: #FFCC5C;
}

.commentTable{
  margin: 0 auto;
}

button.btn.btn-danger, button.btn.btn-success, button.btn.btn-info {
  margin: 20px;
}

button.btn.btn-primary {
  margin-top: 30px;
  margin-bottom: 100px;
}

td {
  padding: 30px;
}

th {
  padding: 30px;
  margin: 0;
}

.show {
  display: none;
}


td.white {
  color: #c0cce2;
  padding: 15px, 30px;
}

td.whites {
  color: white;
  padding: 15px, 30px;
}

body
{
    /* structure */
    /*margin: 0 auto;
    padding: 1em;
    min-height: 100%;
    width: 80%;*/

    /* presentation */
    font-family: 'Open Sans', sans-serif;
}

html
{
    /* structure */
    height: 100%;

    /* presentation */
    background-color: #F8FFF2;
}


img, iframe {
  border-radius: 10px;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
}

h1
{
    color: #e6e8e3;
}


.order-form-customer
{
    /* structure */
    padding: 1em 0;

    /* presentation */
    text-align: right;
}


.standard-table
{
    border-collapse: collapse;
    width: 100%;
}
.standard-table caption
{
    /* structure */
    padding: 0.5em 0;
